h2 {
	font-size: 200%;
	color: brack;
	text-align: center;
	background-color: #a2bacc;
	margin: 0 auto;
	padding: 50px 50px 20px;	
	/*padding-top:50px;
	padding-bottom:50px;
	padding-left:300px;
	padding-right:300px;*/
}


h3{
	font-size: 150%;
	text-align: center;
}

td{
	font-size: 120%;
	text-align: justify;
}

p{
	font-size: 120%;
	text-align: justify;
}

li{
	font-size: 120%;
	text-align: justify;
}

body
{	

	font-family: "Helvetica", "Lucida Grande", "sans-serif";
	
}
